@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: #000;
    font-family: "Poppins", sans-serif;
  }
  
  .hamburger {
    position: absolute;
    top: 25px;
    right: 50px;
    cursor: pointer;
    z-index: 1000;
  }
  
  .hamburger .line {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #eee;
    transition: all 0.3s;
  }
  
  .hamburger .line1 {
    transform: translateY(-3px);
  }
  
  .hamburger .line3 {
    transform: translateY(3px);
  }
  
  .nav {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #111;
    top: 0;
    left: 0;
    clip-path: polygon(45% 0, 100% 0, 100% 100%, 70% 100%);
    transform: translateX(100%);
    transition: all 0.3s;
    z-index: 999;
  }
  
  .nav-list {
    position: absolute;
    right: 15%;
    top: 45%;
    transform: translateY(-45%);
    list-style: none;
  }
  
  .nav-list li {
    transform: translateX(-20px);
    opacity: 0;
    transition: all 0.3s;
  }
  
  .nav-list li:not(:last-child) {
    margin-bottom: 40px;
  }
  
  .nav-list li a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 30px;
    color: #eee;
    position: relative;
  }
  
  .nav-list li a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #eee;
    bottom: -5px;
    left: 0;
    transition: all 0.3s;
  }
  
  .nav-list li a:hover::after {
    width: 100%;
  }
  .home{
      background: black;
      width: 100%;
      height: 100vh;
  }
  .home #logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  section h1{
    color: #111;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: lighter;
    margin-top: 15px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .hamburger.clicked .line {
    background-color: #eee;
  }
  
  .hamburger.clicked .line1 {
    transform: translateY(3px) rotate(-135deg);
  }
  
  .hamburger.clicked .line2 {
    opacity: 0;
  }
  
  .hamburger.clicked .line3 {
    transform: translateY(-3px) rotate(135deg);
  }
  
  .nav.show {
    transform: translateX(0);
  }
  
  .nav.show .nav-list li {
    transform: translateX(0);
    opacity: 1;
    transition-delay: 0.3s;
  }
  .bots{
      height: 100vh;
      background: black;
      width: 100%;
    }
  .bots h1{
    font-weight: 700;
    letter-spacing: 3px;
    color: #eee;
    margin-top: 1.5rem;
  }
  ::-webkit-scrollbar{
    width: 5px;
    background: black;
  }
  ::-webkit-scrollbar-thumb{
    background: rgb(9, 102, 114);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  #logo text{
    stroke: #eee;
    font-size: 150px;
    font-weight: 700;
    stroke-width: 3.5;
    font-family: 'Century Gothic', sans-serif;
    letter-spacing: 2px;    animation: svg-animate 5s linear forwards 0.1s;

  }
  @keyframes svg-animate{
    0%{
      stroke-dasharray: 0 50%;
    }
    100%{
      stroke-dasharray: 50% 0;
    }
  }
  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #eee;
    color: black;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
  
  #myBtn:hover {
    transition: ease 1s;
    background-color: #333;
    color: #eee;
  }
.container {
  max-width: 1100px;
  margin: auto;
  overflow: auto;
  padding: 0 2rem;
  color: #eee;
}

.main-header {
  height: 55vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.main-header h1 {
  font-size: 5rem;
  margin-bottom: 1rem;
  line-height: 1.2;
}
.main-header h2 {
  font-size: 1.65rem;
  color: #eee;
}
.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  background: black;
  margin-bottom: 2rem;
}

.card h3 {
  margin-bottom: 2rem;
}

.card img {
  height: 400px;
}

.card > div {
  padding: 2rem;
}

.card:nth-child(even) img {
  order: 2;
}


.btn {
  display: inline-block;
  background: #333;
  color: #fff;
  padding: 0.8rem 1.8rem;
  margin-top: 2rem;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

@media(max-width:600px) {
  .card {
    display: block;
  }
}
